<div ng-controller="dataFileController">
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="3rdParty/img/12.jpg" class="img-circle" alt="User Image"/>
                    </div>
                    <div class="pull-left info">
                        <p>Hello, anrui</p>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a href="#/">
                            <i class="fa fa-list"></i> <span>我的应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i> <span>账号管理</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <aside class="right-side">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#/"><i class="fa fa-home"></i>
                            我的应用
                        </a></li>
                        <li><a ng-bind="currentApplication.appName"></a></li>
                        <li class="active">数据管理</li>
                    </ul>
                </div>
            </div>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel">
                            <header class="panel-heading">
                                <i class="fa fa-bar-chart-o"></i>&nbsp;
                                数据文件列表
                            </header>
                            <div class="panel-body table-responsive">
                                <div class="box-tools m-b-15 pull-right">
                                    <a class="btn btn-primary btn-addon btn-sm" ng-click="showModal()">
                                        <i class="fa fa-plus"></i>
                                        添加新数据
                                    </a>
                                </div>
                                <table class="table">
                                    <colgroup span="5">
                                        <col width="10%" align="center">
                                        <col width="20%" align="center">
                                        <col width="20%" align="center">
                                        <col width="20%" align="center">
                                        <col width="25%" align="center">
                                    </colgroup>
                                    <tr class="table-head">
                                        <th></th>
                                        <th>数据名称</th>
                                        <th>数据类型</th>
                                        <th>文件大小</th>
                                        <th>操作</th>
                                    </tr>
                                    <tr ng-repeat="file in fileList">
                                        <td ng-bind="$index+1"></td>
                                        <td ng-bind="file.id" ng-hide="true"></td>
                                        <td ng-bind="file.name"></td>
                                        <td ng-bind="file.type"></td>
                                        <td ng-bind="file.size"></td>
                                        <td>
                                            <a ng-click="deleteFile(file)">删除</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </aside>

    </div>

    <div aria-hidden="true" aria-labelledby="addFileModalLabel" role="dialog" tabindex="-1" id="addFileModal" ng-model="addFileMoadal"
         class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;
                        添加新数据</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">数据名称</label>
                            <div class="col-lg-10">
                                <input class="form-control" ng-model="file.name" placeholder="请输入数据名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">数据类型</label>
                            <div class="col-lg-10">
                                <div class="row row-offset-right">
                                    <div class="radio col-lg-3">
                                        <label>
                                            <input type="radio" name="type" value="0" ng-model="file.type" checked>
                                            用户数据
                                        </label>
                                    </div>
                                    <div class="radio col-lg-3">
                                        <label>
                                            <input type="radio" name="type" value="1" ng-model="file.type">
                                            物品数据
                                        </label>
                                    </div>
                                    <div class="radio col-lg-3">
                                        <label>
                                            <input type="radio" name="type" value="2" ng-model="file.type">
                                            行为数据
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">文件上传</label>
                            <div class="col-lg-10">
                                <input type="file" class="file-upload" file-model="file.file">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-9">
                                <button type="submit" class="btn btn-primary" ng-click="addDataFile()">确定</button>
                                &nbsp;&nbsp;
                                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>